# Credenciales para el envio de correos
smtp.user=tu_correo@gmail.com
smtp.pass=tu_contraseña_o_token

# Credenciales de Base de Datos Oracle
db.user=ADMIN
db.pass=Contrasena1!
db.name=LGUCY4RC4VTGAU5I